@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
  background: #E5E5E5;
}

.navigation {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  background: #FFFFFF;
}

.navigation-list {
  width: 500px;
  margin: 0;
  padding: 0;

}

.navigation-user {
  max-width: 320px;
  margin-left: auto;

}

.navigation-item {
  width: 1200px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;


}

.page-header {
  color: #000000;
  /* background: #FFFFFF; */
  /* width: 1200px; */
  /* display: flex;
    justify-content: space-between; */
  /* justify-content: center;
    margin: 0;
    display: flex; */
}

.navigation-link {
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
  text-decoration: none;
}

.main-container {
  flex-grow: 1;
}

.navigation-list {
  list-style-type: none;
}

.main-logo {
  background-image: url("../images/main/main-base.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.logo {
  display: block;
  margin: 0 auto;
}

.heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.heading-cause {
  font-size: 22px;
  line-height: 26px;
  text-align: center;

}

.advantages {
  display: flex;
  justify-content: space-between;
}

.advantages-citi {
  display: flex;
  justify-content: space-between;
}

.bridge {
  display: flex;
  justify-content: space-between;
}

.advantages-bridge {
  display: flex;
  justify-content: space-between;
}

.advantages-cause {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.advantages-item-1 {
  background: #82B3D3;
  width: 400px;
  height: 384px;
  text-align: center;

}

.advantages-item-2 {
  background: url("../images/main/photo-1.jpg");
  background-repeat: no-repeat;
}

.advantages-item-7 {
  background: #82B3D3;
  width: 400px;
  height: 384px;
  text-align: center;
}

.advantages-item-6 {
  background: url("../images/main/photo-2.jpg");
  background-repeat: no-repeat;
}

.interest {
  justify-content: center;
}

.interest-cause {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
}

.interest-text {
  font-family: "PT Sans regular",
    sans-serif;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.button-subscription {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  background: #756157;
  text-align: center;
  margin: 0 auto;
  display: block;
  width: 574px;
  height: 60px;
}

.subscription-cause {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;
  text-align: center;
}

.subscription {
  background: url("../images/main/main-footer.jpg");
  background-repeat: no-repeat;
  justify-content: center;

  width: 1200px;
}

.footer-social {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  background: #FFFFFF;

}

.subscription-text {
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  text-align: center;
}

.button-submit {
  background: #82B3D3;
  border-radius: 0px 10px 10px 0px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
}

.subscription-button {
  justify-content: center;
  display: flex;

}

.contacts_phone {
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
}

.footer-social-list {
  list-style-type: none;

}

.footer-social-item {
  margin-right: 33.3%;
  justify-content: space-between;
  width: 200px;

}

.telephone {
  justify-content: center;
}

/* .about-text {
    margin-right: auto;
} */
