@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  background-color: #ffffff;
  background: #E5E5E5;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ХЕДЕР */
.header-logo-small {
  height: 70px;
  display: block;
  position: relative;
  z-index: 1;
  /* margin-left: 70px; */
}

.navigation {
  width: 1200px;
  height: 65px;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  background: #FFFFFF;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  margin-left: 70px;

}

.navigation-user {
  max-width: 320px;
  margin-right: 85px;
  display: flex;
  align-items: center;
}

.count-badge {
  position: absolute;
  font-weight: 400;
  font-size: 10px;
  line-height: 13px;
  border-radius: 50%;
  background-color: #7DB54F;
  color: #FFFFFF;
  padding: 3px 5px;
  letter-spacing: -0.1em;
  margin-top: -21px;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000;
}

.navigation-item {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.page-header {
  color: #000000;
}

.navigation-link {
  position: relative;
  display: block;
  align-items: center;
  padding: 20px 19px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  color: #000000;
  text-decoration: none;
}

.navigation-main {
  position: relative;
  text-decoration-line: underline;
  text-underline-offset: 23px;
  border: 2px;
  z-index: 1;
  text-decoration-color: #756257;
  /* text-underline-position: under; */
}

.navigation-list .navigation-user {
  min-width: 42px;
  min-height: 66px;
}

.main-container {
  flex-grow: 1;
}

/* кнопка в мейне */
.button-main {
  min-width: 160px;
  background-color: #756157;
  padding: 8px 15px;
  box-sizing: border-box;
  border-radius: 4px;
  color: #FFFFFF;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}


.main-logo {
  background-image: url("../images/main/main-base.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  padding-top: 51px;
  padding-bottom: 82px;
  position: relative;
}

.small-logo {
  position: absolute;
  bottom: 0;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.logo {
  display: block;
  margin: 0 auto;
}

.main-container-text {
  padding-top: 63px;
  padding-bottom: 90px;
}

.real {
  display: block;
  justify-content: center;
  align-items: center;
  padding: 92px 85px;
}

/* ДОМИК */
.advantages-item-home {
  background: rgba(131, 179, 211, 0.12);
}

.services {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 384px;
  text-align: center;
}

.sight {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 384px;
  text-align: center;

}

.advantages-item-1 {
  background: #82B3D3;
  width: 400px;
  height: 384px;
  text-align: center;
}

.advantages-item-5 {
  background: rgba(131, 179, 211, 0.12);
}



.heading {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.heading-cause {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages {
  display: flex;
  justify-content: space-between;
}

.advantages-citi {
  display: flex;
  justify-content: space-between;

}

.bridge {
  display: flex;
  justify-content: space-between;
}

.advantages-bridge {
  display: flex;
  justify-content: space-between;
}

.advantages-cause {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.advantages-item-7 {
  background: #82B3D3;
  width: 400px;
  height: 384px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  /* padding: 92px 85px; */
}

.advantages-item-8 {
  background: rgba(131, 179, 211, 0.12);
}

.advantages-item-9 {
  background: rgba(131, 179, 211, 0.2);
}

.advantages-item-10 {
  background: rgba(131, 179, 211, 0.12);
}

.interest {
  justify-content: center;
  padding-top: 91px;
  padding-bottom: 105px;
}

.interest-cause {
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  /* padding-top: 91px; */
}

.interest-text {
  font-family: "PT Sans regular",
    sans-serif;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.button-subscription {
  color: #FFFFFF;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 4px;
  background: #756157;
  text-align: center;
  margin: 0 auto;
  display: block;
  width: 574px;
  height: 60px;
  box-sizing: border-box;
  padding: 12px 15px;
}

.subscription-cause {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;
  text-align: center;
}

.subscription {
  background: url("../images/main/main-footer.jpg");
  background-repeat: no-repeat;
  justify-content: center;
  width: 1200px;
  padding-top: 94px;
  padding-bottom: 94px;
}

.subscription-text {
  font-size: 22px;
  line-height: 26px;
  color: #FFFFFF;
  text-align: center;
}

.field {
  width: 600px;
  height: 60px;
  background: #F2F2F2;
  border-radius: 10px 0px 0px 10px;
  border: none;
}

.button-submit {
  background: #82B3D3;
  border-radius: 0px 10px 10px 0px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;

}

.subscription-button {
  justify-content: center;
  display: flex;

}

/* ФУУТЕР */
.wrapper {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  background: #FFFFFF;
}

.footer_item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
}

.footer_social {
  width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-left: 70px;
  /* padding: 40px; */
}

.footer_social_link {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  max-width: 400px;
  margin-right: 26px;
  /* gap: 10px; */
  padding: 40px 10px;
}

.footer_phone {
  width: 400px;
  font-size: 40px;
  line-height: 40px;
  color: #000000;
  text-decoration: none;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.footer_logo {
  margin: 0 auto;
  margin-right: 70px;
}
